/.ipynb_checkpoints
/Covid
/ExchangeRates.csv
/HW_SF_Python13-b39a8aad-fd19-422f-95ff-0dfd4de0b8b9.ipynb
/HW_SF_Python13-ec1300c2-b320-4f9f-854c-e706b23d6aa6.ipynb
/HW_SF_Python13-f5ee9d0d-87ab-4329-b0ea-14fb54729d4c.ipynb
/HW_SF_Python13.ipynb
/Python  - 14 module
/Python12 module
/churn.csv
/country_vaccinations.csv
/covid_data.csv
/default-8582cc5d-c034-4481-b94c-2aeee1641687.ipynb
/default-fcf1093b-da5e-4f7f-90b7-a699a82f8b72.ipynb
/diabetes_data.csv
/dst-3.0_16_1_hh_database.csv
/requirements.txt
/sber_data.csv
/Ноутбук-шаблон_Project_1-0a7c8623-e9ad-45c3-b9a1-671aab31a5a2.ipynb